<section class="sale">
	<div class="container">
		<h2>С большой скидкой</h2>
		<button class="g-button g-button--more">Ещё</button>
		<button class="g-button g-button--desktop g-button--more">Смотреть ещё (228)</button>
		<div class="sale__cards">
			<div class="sale__card sale__card--big">
				<div class="sale__card-status">Экономия 92%</div>
				<div class="sale__card-img">
					<picture>
						<source>
							<img src="./img/sale-big.png" alt="Кальцемин адванс">
						</picture>
					</div>
					<div class="sale__card-title">
						<span>Кальцемин адванс таб.  п.о <br>№ 120</span>
					</div>
					<div class="sale__card-price">
						<span class="sale__card-price sale__card-price--red">68,88 ₽</span>
						<span class="sale__card-price sale__card-price--old">258,20 ₽</span>
					</div>
					<div class="sale__card-btn">
						<div class="g-button">В корзину</div>
					</div>
				</div>
				<div class="sale__card-min">
					<div class="sale__card">
						<div class="sale__card-status">— 90%</div>
						<div class="sale__card-img">
							<picture>
								<img src="./img/sale-second.png" alt="Рыбий жир">
							</picture>
						</div>
						<div class="sale__card-title">
							<span>Рыбий жир Мёллер<br> с фруктовым вкусом фл 25…</span>
						</div>
						<div class="sale__card-price">
							<span class="sale__card-price sale__card-price--red">107,3 ₽</span>
							<span class="sale__card-price sale__card-price--old">258,20₽</span>
						</div>
					</div>
					<div class="sale__card">
						<div class="sale__card-status">— 86%</div>
						<div class="sale__card-img">
							<picture>
								<img src="./img/sale-dezrinit.png" alt="Дезринит">
							</picture>
						</div>
						<div class="sale__card-title">
							<span>Дезринит спрей наз. дозир. <br>50 мкг/доза фл. 18г (140до…</span>
						</div>
						<div class="sale__card-price">
							<span class="sale__card-price sale__card-price--red">58,66 ₽</span>
							<span class="sale__card-price sale__card-price--old">258,20 ₽</span>
						</div>
					</div>
					<div class="sale__card sale__card--hidden">
						<div class="sale__card-status">— 50%</div>
						<div class="sale__card-img">
							<picture>
								<img src="./img/sale-splat.png" alt="Зубная паста">
							</picture>
						</div>
						<div class="sale__card-title">
							<span>Зубная паста SPLAT Professional Биокальций</span>
						</div>
						<div class="sale__card-price">
							<span class="sale__card-price sale__card-price--red">49, 99 ₽</span>
							<span class="sale__card-price sale__card-price--old">258,20 ₽</span>
						</div>
					</div>
					<div class="sale__card sale__card--hidden">
						<div class="sale__card-status">— 50%</div>
						<div class="sale__card-img">
							<picture>
								<img src="./img/sale-naftizin.png" alt="Нафтизин">
							</picture>
						</div>
						<div class="sale__card-title">
							<span>Нафтизин капли наз. 0,1% фл. 15 мл</span>
						</div>
						<div class="sale__card-price">
							<span class="sale__card-price sale__card-price--red">68,88 ₽</span>
							<span class="sale__card-price sale__card-price--old">258,20 ₽</span>
						</div>
					</div>
				</div>
			</div>
			<div class="sale__btn-more">
				<div class="g-button">Показать ещё</div>
			</div>
		</div>
	</section>






















