<div class="search-input-items">
	<ul class="search-input__list">
		<li class="search-input__item"><a href="#">
			<img src="./img/search-input-1.png" alt="product-image">
			<span>ДОППЕЛЬГЕРЦ Актив Омега-3 Форте капсулы 60 шт.</span>
		</a></li>
		<li class="search-input__item"><a href="#">
			<img src="./img/search-input-2.png" alt="product-image">
			<span>Фероглобин B12 капс. 460 мг №30 (БАД)</span>
		</a></li>
		<li class="search-input__item"><a href="#">
			<img src="./img/search-input-3.png" alt="product-image">
			<span>Мульти В-комплекс Витамир таб. п/о №30</span>
		</a></li>
		<li class="search-input__item"><a href="#">
			<img src="./img/search-input-4.png" alt="product-image">
			<span>Позитив капс. 300мг №30	</span>
		</a></li>
		<li class="search-input__item"><a href="#">
			<img src="./img/search-input-5.png" alt="product-image">
			<span>Taurine капсулы 500 мг 100 шт.</span>
		</a></li>
	</ul>
	<button class="g-button g-button--more">Смотреть всё (228)</button>
</div>