/* mixins */
@import 'base/mixins.scss';

/* base */
@import 'base/fonts';
@import 'base/variables';
@import 'base/normalize';
@import 'base/typography';
@import 'base/default';
@import 'base/prettify';

/* blocks */
@import 'blocks/header/header';
@import 'blocks/g-button/g-button';
@import 'blocks/g-select/g-select';
@import 'blocks/g-input/g-input';
@import 'blocks/g-slider/g-slider';
@import 'blocks/g-popup/g-popup';
@import 'blocks/g-yamap/g-yamap';
@import 'blocks/promo-slider/promo-slider';
@import 'blocks/sale/sale';
@import 'blocks/banners/banners';
@import 'blocks/product-card/product-card';
@import 'blocks/instagram/instagram';
@import 'blocks/products-slider/products-slider';
@import 'blocks/news/news';
@import 'blocks/footer/footer';
@import 'blocks/header-menu/header-menu';
@import 'blocks/search-input-items/search-input-items';
@import 'blocks/sidebar/sidebar';
@import 'blocks/header-catalog-menu/header-catalog-menu';
@import 'blocks/breadcrumbs/breadcrumbs';
@import 'blocks/g-spoiler/g-spoiler';
@import 'blocks/g-checkbox/g-checkbox';
@import 'blocks/g-radio/g-radio';
@import 'blocks/g-tabs/g-tabs';
@import 'blocks/g-range-slider/g-range-slider';
@import 'blocks/g-pagination/g-pagination';
@import 'blocks/detail-card-tabs/detail-card-tabs';
/* Пример подключения*/
/* @import 'blocks/component/component'; */
/* pages */
@import 'src/pages/catalog/catalog';
@import 'src/pages/catalog-category/catalog-category';
@import 'src/pages/catalog-category-item/catalog-category-item';
@import 'src/pages/detail-card/detail-card';
@import 'src/pages/basket/basket';
@import 'src/pages/checkout/checkout';
@import 'src/pages/order-complit/order-complit';

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: 0;
	&:before,
	&:after {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
}
html
{
	line-height: $mainLineHeight;
	font-size: $mainFontSize;
	color: $mainFontColor;
	-webkit-font-smoothing: antialiased;
}
