.products-slider
{
	margin-bottom: 24px;
	h2
	{
		width: 50%;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #263238;
	}
	.slick-arrow
	{
		top: -56px;
		right: 0px;
	}
	.prev-arrow{right: 40px;}
	&--see
	{
		h2{margin-bottom: 20px;}
		.product-card
		{
			max-width: 150px;
		}
		.product-card__price{margin-bottom: 0;}
		img{width: 150px;}
		.g-button{display: none;}
		.slick-arrow
		{
			top: -50px;
			right: 0px;
		}
		.prev-arrow{right: 40px;}
	}
	&--relevance{margin-bottom: 10px;}
}
.products-slider__wr
{
	display: flex;
}
@media (min-width: 769px)
{
	.products-slider
	{
		margin-bottom: 39px;
		h2
		{
			margin-bottom: 24px;
			font-size: 28px;
			line-height: 34px;
		}
		&--see
		{
			img{width: 150px;}
			.slick-arrow
			{
				top: -59px;
				right: 0px;
			}
			.prev-arrow{right: 40px;}
		}
		&--relevance
		{
			.slick-arrow
			{
				top: -59px;
				right: 0px;
			}
			.prev-arrow{right: 40px;}
		}
	}
}
