<div class="products-slider">
	<div class="container">
		<h2>Популярные товары</h2>
		<div class="products-slider__wr _products-slider">
			{% include 'blocks/product-card/product-card.twig' %}
			{% include 'blocks/product-card/product-card.twig' %}
			{% include 'blocks/product-card/product-card.twig' %}
			{% include 'blocks/product-card/product-card.twig' %}
		</div>
	</div>
</div>