<section class="news">
	<div class="container">
		<h2 class="news__title">Новости</h2>
		<div class="news__blocks _news__blocks">
			<div class="news__block">
				<div class="news__block-image">
					<a href="#">
						<picture>
							<img src="./img/news-1.png" alt="news-image">
						</picture>
					</a>
				</div>
				<div class="news__block-text">
					<div class="news__block-date">
						<span>04 фев 2020</span>
					</div>
					<div class="news__block-title">
						<a href="#">Как узнать, что лекарство испортилось</a>
					</div>
				</div>
			</div>
			<div class="news__block">
				<div class="news__block-image">
					<a href="#">
						<picture>
							<img src="./img/news-2.png" alt="news-image">
						</picture>
					</a>
				</div>
				<div class="news__block-text">
					<div class="news__block-date">
						<span>29 янв 2020</span>
					</div>
					<div class="news__block-title">
						<a href="#">Пить или не пить, переполох с антибиотиками</a>
					</div>
				</div>
			</div>
			<div class="news__block">
				<div class="news__block-image">
					<a href="#">
						<picture>
							<img src="./img/news-3.png" alt="news-image">
						</picture>
					</a>
				</div>
				<div class="news__block-text">
					<div class="news__block-date">
						<span>04 фев 2020</span>
					</div>
					<div class="news__block-title">
						<a href="#">Походная аптечка, едем на природу</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>