.detail-card
{
	img
	{
		width: 288px;
		height: auto;
	}
}
.detail-card__title
{
	margin-bottom: 24px;
	h2
	{
		margin-bottom: 8px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #263238;
	}
	span
	{
		font-size: 12px;
		line-height: 14px;
		color: #7B8E98;
	}
}
.detail-card__slider
{
	position: relative;
	margin-bottom: 24px;
}
.detail-card__slider-status
{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.detail-card__slider-status-mobile
{
	padding: 4px 8px;
	background: #F44336;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
	line-height: 14px;
	color: #fff;
}
.detail-card__slider-status-desktop{display: none;}
.slick-dots
{
	display: flex;
	justify-content: center;
	li button
	{
		margin-right: 4px;
		font-size: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		border: none;
		background: #ECEFF1;
	}
	li.slick-active button{background: #263238;}
}
