.detail-card
{
	img
	{
		width: 288px;
		height: auto;
	}
}
.detail-card__title
{
	margin-bottom: 24px;
	h2
	{
		margin-bottom: 8px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #263238;
	}
	span
	{
		font-size: 12px;
		line-height: 14px;
		color: #7B8E98;
	}
}
.detail-card__slider{margin-bottom: 24px;}
.slick-dots
{
	display: flex;
	justify-content: center;
	li button
	{
		margin-right: 4px;
		font-size: 0;
		width: 6px;
		height: 6px;
		border-radius: 50%;
		border: none;
		background: #ECEFF1;
	}
	li.slick-active button{background: #263238;}
}
