
.sidebar__title
{
	h2
	{
		margin: 0;
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #263238;
	}
}
.sidebar__list
{
	padding: 18px 0 3px 0;
	button{padding-top: 12px;}
	&:not(:last-child){border-bottom: 1px solid #ECEFF1;}
}
.sidebar__list-title
{
	margin-bottom: 12px;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	a
	{
		color: #263238;
		&:hover{color: #4c6572;}
	}
}
.sidebar__item
{
	margin-bottom: 4px;
	font-size: 14px;
	line-height: 18px;
	a
	{
		color: #7B8E98;
		&:hover{color: #01A54E;}
	}
}
.sidebar__category-title
{
	margin-bottom: 24px;
	h2
	{
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
		color: #263238;
	}
}
.sidebar__category-item
{
	padding: 8px 0;
	border-bottom: 1px solid #ECEFF1;
	font-size: 14px;
	line-height: 18px;
	color: #7B8E98;
	a
	{
		color: inherit;
		&:hover{color: #01A54E;}
	}
}
.g-button--more
{
	display: flex;
	align-items: center;
	margin-bottom: 16px;
	font-size: 12px;
	line-height: 14px;
	svg{margin-left: 9px;}
	&:hover svg path{fill: #00833D;}
}
.g-spoiler__list-item--button:hover{color: #00833D;}
.sidebar__sort{display: none;}

@media (width: 768px)
{
	.promo-slider__wrapper{height: 200px;}
}






