<div class="sidebar">
	<div class="sidebar__title">
	<h2>Каталог</h2>
	</div>
		<ul class="sidebar__menu">
			<li class="catalog-menu__title"><a href="#">Лекарственные средства</a></li>
			<li class="catalog-menu__item"><a href="#">Простуда, грипп</a></li>
			<li class="catalog-menu__item"><a href="#">Желудок, кишечник, печень</a></li>
			<li class="catalog-menu__item"><a href="#">Болеутоляющие препараты</a></li>
			<li class="catalog-menu__item"><a href="#">Аллергия</a></li>
			<li class="catalog-menu__item"><a href="#">Мышцы, кости и суставы</a></li>
			<li class="catalog__menu-btn"><button class="g-button g-button--more">Смотреть всё {% include '../../assets/svg/sidebar-arrow-down.svg' %}</button></li>
		</ul>
</div>