<div class="detail-card-tabs">
	<div class="g-tabs _tabs-container">
		<ul class="g-tabs__menu">
			<li class="g-tabs__item _tab active" onclick="o2.gTabs.open(this, 1)">
				<a class="g-tabs__link" href="javascript:void(0);">Описание</a>
			</li>
			<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 2)">
				<a class="g-tabs__link" href="javascript:void(0);">Способы применения</a>
			</li>
			<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 3)">
				<a class="g-tabs__link" href="javascript:void(0);">Показания</a>
			</li>
			<li class="g-tabs__item _tab" onclick="o2.gTabs.open(this, 4)">
				<a class="g-tabs__link" href="javascript:void(0);">Ещё</a>
			</li>
		</ul>
		<div class="g-tabs__content open" data-tab="1">
			<ul class="g-tabs__content-list">
				<li class="g-tabs__content-item">
					<span>Тип препарата:</span>
					<span>Лекарственный препарат</span>
				</li>
				<li class="g-tabs__content-item">
					<span>Возраст применения:</span>
					<span>12 лет</span>
				</li>
				<li class="g-tabs__content-item">
					<span>Форма выпуска:</span>
					<span>Таблетки</span>
				</li>
			</ul>
			<div class="g-tabs__content-substance">
				<p>Действующее вещество</p>
				<p>Кальций, Вит D3, Медь, Цинк, Марганец, Бор</p>
			</div>
			<div class="g-tabs__content-effect">
				<p>Фармакологическое действие</p>
				<p class="g-tabs__content-effect-text _g-tabs__content-effect-text">Кальцемин® Адванс 500 мг — препарат кальция с усиленной формулой1 для профилактики хрупкости ногтей и костей и комплексного лечения остеопороза от производителя Bayer.
					Со временем мы теряем кальций и коллаген. Из-за этого наши кости могут становиться хрупкими, а ногти ломкими!
					Кальцемин® Адванс — это единственный препарат кальция с минералами. Минералы помогают создавать коллаген, а коллаген — это крепкие кости и изящные ногти!
					Кальцемин® Адванс — Кальций и Коллаген!
				</p>
				<button class="g-button g-button--more _g-button--more" onclick="o2.detailCardTabs.showText()">Смотреть всё {% include '../../assets/svg/sidebar-arrow-down.svg' %}</button>
			</div>
		</div>
		<div class="g-tabs__content" data-tab="2">
			Tab 2 content
		</div>
		<div class="g-tabs__content" data-tab="3">
			Tab 3 content
		</div>
		<div class="g-tabs__content" data-tab="4">
			Tab 4 content
		</div>
	</div>
</div>
