.header-menu
{
	visibility: hidden;
	opacity: 0;
	display: block;
	position: fixed;
	padding-bottom: 48px;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: #ffffff;
	overflow: auto;
	z-index: 5;
	transition: all .3s ease;
	a
	{
		color: #263238;
		font-size: 14px;
		line-height: 18px;
	}
	svg{vertical-align: middle;}
	.g-button--questions
	{
		padding: 0 14px;
		border: 1px solid #01A54E;
		font-size: 12px;
		line-height: 32px;
		background: #FFFFFF;
		color: #01A54E;
		&:hover
		{
			color: #87D4AB;
			background: none;
		}
	}
	&.open
	{
		display: block;
		visibility: visible;
		opacity: 1;
		transition: opacity .3s;
	}
}
.header-menu__mob-info
{
	a{color: #7B8E98;}
}
.header-menu__close
{
	display: flex;
	justify-content: space-between;
	padding: 12px 15px 12px 21px;
	border-bottom: 1px solid #ECEFF1;
	button
	{
		border: none;
		font-size: 14px;
		line-height: 17px;
		color: #263238;
	}
}
.header-menu__mob-catalog
{
	padding: 12px 16px;
	a
	{
		svg:first-child{margin-right: 16px;}
		svg:last-child{margin-left: 104px;}
	}
}
.header-menu__mob-user
{
	border-top: 1px solid #ECEFF1;
	border-bottom: 1px solid #ECEFF1;
}
.header-menu__mob-user-list
{
	padding: 4px 0;
	li
	{
		padding: 11px 16px;
		svg{margin-right: 16px;}
	}
}
.header-menu__mob-menu{border-bottom: 1px solid #ECEFF1;}
.header-menu__mob-menu-list
{
	padding: 4px 0;
	li
	{
		padding: 11px 16px;
		svg{margin-right: 16px;}
	}
}
.header-menu__mob-info
{
	padding: 16px;
	border-bottom: 1px solid #ECEFF1;
}
.header-menu__mob-info-list
{
	li
	{
		margin-bottom: 16px;
		a{display: block;}
	}
}
.header-menu__mob-questions
{
	display: flex;
	padding: 16px;
}
.header-menu__mob-questions-svg{margin-right: 16px;}
.header-menu__mob-questions-text
{
	span{display: block;}
	span:first-of-type
	{
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
		color: #263238;
	}
	span:last-of-type
	{
		margin-bottom: 12px;
		font-size: 12px;
		line-height: 14px;
		color: #7B8E98;
	}
}
.header-menu__catalog
{
	display: none;
	visibility: hidden;
	opacity: 0;
	padding-bottom: 64px;
	background: #FFFFFF;
	a,span
	{
		font-size: 14px;
		line-height: 18px;
		color: #263238;
	}
	&.open
	{
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		visibility: visible;
		opacity: 1;
		overflow: auto;
		z-index: 6;
		transition: opacity .3s;
	}

}
.header-menu__catalog-title
{
	padding: 12px 16px;
	border-bottom: 1px solid #ECEFF1;
	svg{margin-right: 64px;}
}
.header-menu__catalog-item
{
	padding: 8px 16px;
	a
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.header-menu__catalog-inner
{
	display: none;
	visibility: hidden;
	opacity: 0;
	padding-bottom: 64px;
	background: #FFFFFF;
	a,span
	{
		font-size: 14px;
		line-height: 18px;
		color: #263238;
	}
	&.active
	{
		display: block;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100%;
		visibility: visible;
		opacity: 1;
		overflow: auto;
		z-index: 7;
		transition: opacity .3s;
	}
	.header-menu__catalog-title
	{
		padding: 12px 16px;
		border-bottom: 1px solid #ECEFF1;
		svg{margin-right: 64px;}
	}
	.header-menu__catalog-item
	{
		padding: 8px 16px;
		a
		{
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}
@media (min-width: 1024px)
{
	.header-menu
	{
		&.open{display: none;}
	}
}


























