<div class="header-menu">
	<div class="container">
		<div class="header-menu__mob-list">
			<div class="header-menu__mob-catalog">
				<a href="#"> {% include '' %} Каталог товаров</a>
			</div>
			<div class="header-menu__mob-user">
				<ul class="header-menu__mob-user-list">
					<li><a href="#"> {% include '' %} Мои данные</a></li>
					<li><a href="#"> {% include '' %} Мои заказы</a></li>
					<li><a href="#"> {% include '' %} Безопасность</a></li>
				</ul>
			</div>
			<div class="header-menu__mob-menu">
				<ul class="header-menu__mob-menu-list">
					<li><a href="#">{% include '' %} Адреса аптек 24/7 </a></li>
					<li><a href="#">{% include '' %} Акции</a></li>
					<li><a href="#">{% include '' %} Новости</a></li>
					<li><a href="#">{% include '' %} Доставка и самовывоз</a></li>
					<li><a href="#">{% include '' %} 28-98-98</a></li>
				</ul>
			</div>
			<div class="header-menu__mob-info">
				<ul class="header-menu__mob-info-list">
					<li><a href="#"> {% include '' %} Как сделать заказ?</a></li>
					<li><a href="#"> {% include '' %} Оплата</a></li>
					<li><a href="#"> {% include '' %} Возврат</a></li>
					<li><a href="#"> {% include '' %} Поставщикам</a></li>
					<li><a href="#"> {% include '' %} Оптовикам</a></li>
					<li><a href="#"> {% include '' %} Правовая информация</a></li>
					<li><a href="#"> {% include '' %} Помощь</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>