.breadcrumbs
{
	display: flex;
	margin-bottom: 7px;
}
.breadcrumbs__item
{
	display: flex;
	align-items: center;
	font-size: 14px;
	line-height: 17px;
	color: #7B8E98;
	svg
	{
		width: 17px;
		height: 17px;
		margin-left: 4px;
		margin-right: 4px;
		transform: rotate(180deg);
	}
}