@import './vendors/slick';
.g-slider{margin-right: -35px; width:1200px;}
.g-slider__item
{
	height: 190px;
	border-radius: 4px;
	background: rgba(103, 115, 135, 0.4);
	margin-right: 37px;
}

.slick-arrow
{
	display: block;
	position: absolute;
	top: 81px;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
	border-radius: 50%;
	background: #ECEFF1;
	border: none;
	z-index: 2;
	&:hover
	{
		background-color: #01A54E;
		&:after{background-color: #fff;}
	}
}
.prev-arrow:after
{
	mask: url('/svg/popular-goods-slider-prev.svg');
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	content: '';
	background-color: #263238;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%
}
.next-arrow:after
{
	mask: url('/svg/popular-goods-slider-next.svg');
	mask-repeat: no-repeat;
	-webkit-mask-position: center;
	content: '';
	background-color: #263238;
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
}








