<section class="banners">
	<div class="container">
		<div class="banners__img _banners__img">
			<a href="#" class="banners__img-link">
				<picture>
					<source srcset="./img/banners-1-768.png" media="(min-width: 768px)"/>
					<img src="./img/banners-1.png" alt="banners">
				</picture>
			</a>
			<a href="#" class="banners__img-link">
				<picture>
					<source srcset="./img/banners-2-768.png" media="(min-width: 768px)"/>
					<img src="./img/banners-2.png" alt="banners">
				</picture>
			</a>
		</div>
	</div>
</section>
