.instagram
{
	margin-bottom: 26px;
	a
	{
		line-height: 0;
		color: #263238;
	}
	h2
	{
		width: 50%;
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
	}
	.slick-arrow
	{
		top: -56px;
		right: 0px;
	}
	.prev-arrow{right: 40px;}
}
.instagram__title
{
	margin-bottom: -4px;
	h2
	{
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #263238;
	}
	svg
	{
		margin-left: 2px;
		vertical-align: middle;
	}
}
.instagram__content-list
{
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
	&--desktop{display: none;}
}
.instagram__content{margin-bottom: 16px;}
.instagram__content-item
{
	display: flex;
	flex: 1 1 48%;
	img
	{
		max-width: 100%;
		height: auto;
	}
}
.instagram__btn-more
{
	display: flex;
	justify-content: center;
	.g-button
	{
		padding: 0 14px 0 14px;
		width: 100%;
		background: none;
		color: #263238;
		border: 1px solid #CFD8DC;
		line-height: 40px;
		font-size: 14px;
		text-align: center;
	}
}
@media (min-width: 768px)
{
	.instagram
	{
		margin-bottom: 40px;
		.slick-arrow
		{
			top: -58px;
			right: 0px;
		}
		.prev-arrow{right: 40px;}
	}
	.instagram__title
	{
		margin-bottom: 24px;
		h2
		{
			font-size: 28px;
			line-height: 29px;
		}
		svg
		{
			height: 34px;
			width: 120px;
		}
	}
	.instagram__content-item
	{
		margin-right: 20px;
		flex: 1 1 25%;
		img
		{
			max-width: 235px;
			height: auto;
		}
	}
	.instagram__content-list--desktop{display: block;}
	.instagram__content-list--mobile{display: none;}
	.instagram__btn-more{display: none;}
}























