<section class="instagram">
	<div class="container">
		<div class="instagram__title">
			<h2>
				Мы в
				<a href="#">
					{% include '../../assets/svg/instagram-title.svg' %}
				</a>
			</h2>
		</div>
		<div class="instagram__content">
			<ul class="instagram__content-list _instagram__content-list instagram__content-list--desktop">
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-1.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-2.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-3.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-4.png" alt="instagram"></a></li>
			</ul>
			<ul class="instagram__content-list instagram__content-list--mobile">
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-1.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-2.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-3.png" alt="instagram"></a></li>
				<li class="instagram__content-item"><a href="#"><img src="./img/instagram-4.png" alt="instagram"></a></li>
			</ul>
		</div>
		<div class="instagram__btn-more">
			<button class="g-button">Показать ещё</button>
		</div>
	</div>
</section>