
@font-face
{
	font-family: 'Rubik';
	src: url('./fonts/Rubik/static/Rubik-Regular.ttf');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face
{
	font-family: 'Rubik';
	src: url('./fonts/Rubik/static/Rubik-Medium.ttf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face
{
	font-family: 'Rubik';
	src: url('./fonts/Rubik/static/Rubik-Bold.ttf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}