.header-catalog-menu__wr{display: none;}
.header-catalog-menu
{
	height: 757px;
	column-count: 4;
	column-fill: auto;
}
.header-catalog__list
{
	&:not(:last-child){margin-right: 19px;}
	&:not(:last-child){margin-bottom: 35px;}
}
.header-catalog__title
{
	margin-bottom: 16px;
	font-weight: bold;
	font-size: 14px;
	line-height: 18px;
	color: #263238;
	a{color: inherit;}
}
.header-catalog__item
{
	font-size: 14px;
	line-height: 18px;
	color: #7B8E98;
	a
	{
		color: inherit;
		&:hover{color: #01A54E}
	}
	&:not(:last-child){margin-bottom: 6px;}
}
@media (min-width: 1024px)
{
	.header-catalog-menu__wr
	{
		display: block;
		width: 100%;
		position: absolute;
		top: 126px;
		left: -100%;
		padding: 24px 0;
		z-index: 10;
		overflow: hidden;
		background-color: #fff;
		transition: all .4s linear;
		&.active
		{
			left: 0;
			box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
		}
	}
}