<div class="header-catalog-menu__wr _header-catalog-menu__wr">
	<div class="container">
		<div class="header-catalog-menu _header-catalog__menu">
			<ul class="header-catalog__list">
				<li class="header-catalog__title">
					<a href="#">Лекарственные средства</a>
				</li>
				<li class="header-catalog__item"><a href="#">Простуда, грипп</a></li>
				<li class="header-catalog__item"><a href="#">Желудок, кишечник, печень</a></li>
				<li class="header-catalog__item"><a href="#">Болеутоляющие препараты</a></li>
				<li class="header-catalog__item"><a href="#">Аллергия</a></li>
				<li class="header-catalog__item"><a href="#">Мышцы, кости и суставы</a></li>
				<li class="header-catalog__item"><a href="#">Сердце, кровообращение и вены</a></li>
				<li class="header-catalog__item"><a href="#">Неврология</a></li>
				<li class="header-catalog__item"><a href="#">Стоматология</a></li>
				<li class="header-catalog__item"><a href="#">Ухо, горло, нос</a></li>
				<li class="header-catalog__item"><a href="#">Дыхательная система</a></li>
				<li class="header-catalog__item"><a href="#">Мочеполовая система</a></li>
				<li class="header-catalog__item"><a href="#">Женское здоровье</a></li>
				<li class="header-catalog__item"><a href="#">Воспаление и инфекции</a></li>
				<li class="header-catalog__item"><a href="#">Противомикробные препараты</a></li>
				<li class="header-catalog__item"><a href="#">Эндокринология</a></li>
				<li class="header-catalog__item"><a href="#">Глаза</a></li>
				<li class="header-catalog__item"><a href="#">Диабет</a></li>
				<li class="header-catalog__item"><a href="#">Иммунитет</a></li>
				<li class="header-catalog__item"><a href="#">Кожа, волосы, ногти</a></li>
				<li class="header-catalog__item"><a href="#">Гомеопатия, лечебные кремы и травы</a></li>
				<li class="header-catalog__item"><a href="#">Вредные привычки</a></li>
				<li class="header-catalog__item"><a href="#">Нарушение обмена веществ</a></li>
				<li class="header-catalog__item"><a href="#">Лечение геморроя</a></li>
			</ul>
			<ul class="header-catalog__list">
				<li class="header-catalog__title">
					<a href="#">Лекарственные средства</a>
				</li>
				<li class="header-catalog__item"><a href="#">Простуда, грипп</a></li>
				<li class="header-catalog__item"><a href="#">Желудок, кишечник, печень</a></li>
				<li class="header-catalog__item"><a href="#">Болеутоляющие препараты</a></li>
				<li class="header-catalog__item"><a href="#">Аллергия</a></li>
				<li class="header-catalog__item"><a href="#">Мышцы, кости и суставы</a></li>
				<li class="header-catalog__item"><a href="#">Сердце, кровообращение и вены</a></li>
				<li class="header-catalog__item"><a href="#">Неврология</a></li>
				<li class="header-catalog__item"><a href="#">Стоматология</a></li>
				<li class="header-catalog__item"><a href="#">Ухо, горло, нос</a></li>
				<li class="header-catalog__item"><a href="#">Дыхательная система</a></li>
				<li class="header-catalog__item"><a href="#">Мочеполовая система</a></li>
				<li class="header-catalog__item"><a href="#">Женское здоровье</a></li>
				<li class="header-catalog__item"><a href="#">Воспаление и инфекции</a></li>
				<li class="header-catalog__item"><a href="#">Противомикробные препараты</a></li>
				<li class="header-catalog__item"><a href="#">Эндокринология</a></li>
				<li class="header-catalog__item"><a href="#">Глаза</a></li>
				<li class="header-catalog__item"><a href="#">Диабет</a></li>
				<li class="header-catalog__item"><a href="#">Иммунитет</a></li>
				<li class="header-catalog__item"><a href="#">Кожа, волосы, ногти</a></li>
				<li class="header-catalog__item"><a href="#">Гомеопатия, лечебные кремы и травы</a></li>
				<li class="header-catalog__item"><a href="#">Вредные привычки</a></li>
				<li class="header-catalog__item"><a href="#">Нарушение обмена веществ</a></li>
				<li class="header-catalog__item"><a href="#">Лечение геморроя</a></li>
			</ul>
			<ul class="header-catalog__list">
				<li class="header-catalog__title">
					<a href="#">Лекарственные средства</a>
				</li>
				<li class="header-catalog__item"><a href="#">Простуда, грипп</a></li>
				<li class="header-catalog__item"><a href="#">Желудок, кишечник, печень</a></li>
				<li class="header-catalog__item"><a href="#">Болеутоляющие препараты</a></li>
				<li class="header-catalog__item"><a href="#">Аллергия</a></li>
				<li class="header-catalog__item"><a href="#">Мышцы, кости и суставы</a></li>
				<li class="header-catalog__item"><a href="#">Сердце, кровообращение и вены</a></li>
				<li class="header-catalog__item"><a href="#">Неврология</a></li>
				<li class="header-catalog__item"><a href="#">Стоматология</a></li>
				<li class="header-catalog__item"><a href="#">Ухо, горло, нос</a></li>
				<li class="header-catalog__item"><a href="#">Дыхательная система</a></li>
				<li class="header-catalog__item"><a href="#">Мочеполовая система</a></li>
				<li class="header-catalog__item"><a href="#">Женское здоровье</a></li>
				<li class="header-catalog__item"><a href="#">Воспаление и инфекции</a></li>
				<li class="header-catalog__item"><a href="#">Противомикробные препараты</a></li>
				<li class="header-catalog__item"><a href="#">Эндокринология</a></li>
				<li class="header-catalog__item"><a href="#">Глаза</a></li>
				<li class="header-catalog__item"><a href="#">Диабет</a></li>
				<li class="header-catalog__item"><a href="#">Иммунитет</a></li>
				<li class="header-catalog__item"><a href="#">Кожа, волосы, ногти</a></li>
				<li class="header-catalog__item"><a href="#">Гомеопатия, лечебные кремы и травы</a></li>
				<li class="header-catalog__item"><a href="#">Вредные привычки</a></li>
				<li class="header-catalog__item"><a href="#">Нарушение обмена веществ</a></li>
				<li class="header-catalog__item"><a href="#">Лечение геморроя</a></li>
			</ul>
			<ul class="header-catalog__list">
				<li class="header-catalog__title">
					<a href="#">Лекарственные средства</a>
				</li>
				<li class="header-catalog__item"><a href="#">Простуда, грипп</a></li>
				<li class="header-catalog__item"><a href="#">Желудок, кишечник, печень</a></li>
				<li class="header-catalog__item"><a href="#">Болеутоляющие препараты</a></li>
				<li class="header-catalog__item"><a href="#">Аллергия</a></li>
				<li class="header-catalog__item"><a href="#">Мышцы, кости и суставы</a></li>
				<li class="header-catalog__item"><a href="#">Сердце, кровообращение и вены</a></li>
				<li class="header-catalog__item"><a href="#">Неврология</a></li>
				<li class="header-catalog__item"><a href="#">Стоматология</a></li>
				<li class="header-catalog__item"><a href="#">Ухо, горло, нос</a></li>
				<li class="header-catalog__item"><a href="#">Дыхательная система</a></li>
				<li class="header-catalog__item"><a href="#">Мочеполовая система</a></li>
				<li class="header-catalog__item"><a href="#">Женское здоровье</a></li>
				<li class="header-catalog__item"><a href="#">Воспаление и инфекции</a></li>
				<li class="header-catalog__item"><a href="#">Противомикробные препараты</a></li>
				<li class="header-catalog__item"><a href="#">Эндокринология</a></li>
				<li class="header-catalog__item"><a href="#">Глаза</a></li>
				<li class="header-catalog__item"><a href="#">Диабет</a></li>
				<li class="header-catalog__item"><a href="#">Иммунитет</a></li>
				<li class="header-catalog__item"><a href="#">Кожа, волосы, ногти</a></li>
				<li class="header-catalog__item"><a href="#">Гомеопатия, лечебные кремы и травы</a></li>
				<li class="header-catalog__item"><a href="#">Вредные привычки</a></li>
				<li class="header-catalog__item"><a href="#">Нарушение обмена веществ</a></li>
				<li class="header-catalog__item"><a href="#">Лечение геморроя</a></li>
			</ul>
		</div>
	</div>
</div>