<section class="relevance">
	<div class="container">
		<h2>Актуально в эту погоду</h2>
		<div class="relevance__wrapper _relevance__wrapper">
			{% for item in 1..4 %}
				{% include 'blocks/product-card/product-card.twig' %}
			{% endfor %}
			</div>
		</div>
	</section>
