.catalog
{
	padding-bottom: 40px;
	.promo-slider
	{
		.promo-slider__content{padding-left: 20px;}
	}
}
.catalog__wr{display: flex;}
.catalog__left
{
	display: none;
	max-width: 240px;
	min-width: 240px;
	margin-right: 20px;
}
.catalog__right
{
	max-width: 100%;
	overflow: hidden;
	.products-slider
	{
		h2
		{
			width: 80%;
			font-size: 20px;
			line-height: 24px;
			margin-bottom: 28px;
		}
	}
	.breadcrumbs__mob{margin-bottom: 8px;}
}
.catalog__mob
{
	display: flex;
	align-items: center;
	padding: 12px 0;
	margin-bottom: 24px;
	border-bottom: 1px solid #ECEFF1;
	svg{vertical-align: middle;}
	a
	{
		margin-right: auto;
		font-size: 14px;
		line-height: 18px;
		color: #263238;
	}
	svg:first-child{margin-right: 16px;}
}
.catalog__right-title
{
	display: block;
	h2
	{
		margin-bottom: 24px;
		font-weight: bold;
		font-size: 20px;
		line-height: 24px;
		color: #263238;
	}
}
.catalog__btn-more
{
	.g-button
	{
		width: 100%;
		background-color: #fff;
		border: 1px solid #CFD8DC;
		border-radius: 6px;
		font-size: 14px;
		line-height: 38px;
		color: #263238;
		&:hover
		{
			background: #01A54E;
			border: 1px solid #fff;
			color: #fff;
		}
	}
}
@media (min-width: 1024px)
{
	.catalog__right
	{
		.promo-slider{margin-bottom: 50px;}
		.products-slider{margin-bottom: 36px;}
	}
	.catalog__left{display: block;}
	.catalog__mob{display: none;}
	.catalog__right-title{display: none;}
}























