{# index.twig #}

{% block footer %}
<footer class="footer">
	<div class="container">
		<div class="footer__content">
			<div class="footer__content-item">
				<p class="footer__menu-head">Меню</p>
				<ul class="footer__menu">
					<li class="footer__item"><a href="#">Каталог товаров</a></li>
					<li class="footer__item"><a href="#">Адреса аптек 24/7 </a></li>
					<li class="footer__item"><a href="#">Акции</a></li>
					<li class="footer__item"><a href="#">Новости</a></li>
					<li class="footer__item"><a href="#">Доставка и самовывоз</a></li>
					<li class="footer__item"><a href="#">Политика конфиденциальности</a></li>
					<li class="footer__item"><a href="#">Публичная оферта</a></li>
				</ul>
			</div>
			<div class="footer__content-item">
				<p class="footer__help-head">Помощь</p>
				<ul class="footer__help">
					<li class="footer__item"><a href="#">Как сделать заказ?</a></li>
					<li class="footer__item"><a href="#">Оплата</a></li>
					<li class="footer__item"><a href="#">Возврат</a></li>
					<li class="footer__item"><a href="#">Поставщикам</a></li>
					<li class="footer__item"><a href="#">Оптовикам</a></li>
					<li class="footer__item"><a href="#">Помощь</a></li>
					<li class="footer__item"><a href="#">Правовая информация</a></li>
				</ul>
			</div>
			<div class="footer__content-item-wr">
				<div class="footer__content-item">
					<p class="footer__contacts-head">Контакты</p>
					<ul class="footer__contacts">
						<li class="footer__item"><a href="tel:28-98-98">{% include '../../assets/svg/footer-phone.svg' %} 28-98-98</a></li>
						<li class="footer__item"><a href="mailto:info@aptekagelios.ru"> {% include '../../assets/svg/footer-mail.svg' %} info@aptekagelios.ru</a></li>
					</ul>
				</div>
				<div class="footer__content-item">
					<p class="footer__payment-head">Мы принимаем к оплате</p>
					<ul class="footer__payment">
						<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-visa.svg' %}</a></li>
						<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-master.svg' %}</a></li>
						<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-mir.svg' %}</a></li>
					</ul>
				</div>
			</div>
			<div class="footer__content-item">
				<p class="footer__social-head">Мы в социальных сетях</p>
				<ul class="footer__social">
					<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-facebook.svg' %}</a></li>
					<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-vk.svg' %}</a></li>
					<li class="footer__item"><a href="#">{% include '../../assets/svg/footer-instagram.svg' %}</a></li>
				</ul>
			</div>
		</div>
		<div class="footer__bottom">
			<div class="footer__bottom-date">© 2020 Сеть аптек «Гелиос»</div>
			<div class="footer__bottom-license">Лицензия: № ЛО-77-02-007516 от 24.03.2016 г.</div>
		</div>
	</div>
</footer>
{% endblock %}