.footer
{
	padding: 32px 0 24px 0;
	background: #01A54E;
	a
	{
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
		&:hover{color: #87D4AB;}
	}
	p
	{
		display: inline-block;
		margin: 0;
		margin-bottom: 22px;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #FFFFFF;
	}
}
.footer__content-item{margin-bottom: 27px;}
.footer__questions
{
	&--desktop{display: none;}
}
.footer__content{border-bottom: 1px solid #87D4AB40;}
.footer__contacts
{
	.footer__item
	{
		margin-bottom: 10px;
		a
		{
			font-weight: bold;
			svg
			{
				margin-right: 13px;
				vertical-align: middle;
			}
		}
		&:last-child{margin-bottom: 0;}
	}
}
.footer__payment
{
	display: flex;
	.footer__item:not(:last-child){margin-right: 8px;}
}
.footer__social
{
	display: flex;
	.footer__item:not(:last-child){margin-right: 24px;}
}
.footer__bottom
{
	padding-top: 24px;
	font-size: 14px;
	line-height: 18px;
	color: #87D4AB;
}
.footer__bottom-date{margin-bottom: 8px;}

@media (min-width: 1024px)
{
	.footer__content
	{
		display: flex;
		justify-content: space-between;
	}
	.footer__questions
	{
		margin-bottom: 39px;
		&--desktop{display: block;}
		.g-button
		{
			&--questions
			{
				padding: 0 14px;
				border: 1px solid #fff;
				font-size: 12px;
				line-height: 32px;
				color: #fff;
				&:hover
				{
					color: #87D4AB;
					background: none;
				}
			}
		}
	}
	.footer__questions-head
	{
		display: block;
		position: relative;
		margin-bottom: 4px;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
		color: #fff;
		svg
		{
			position: absolute;
			top: 0;
			left: -35px;
		}
	}
	.footer__questions-descr
	{
		display: block;
		width: 160px;
		margin-bottom: 16px;
		font-size: 12px;
		line-height: 14px;
		color: #fff;
	}
	.footer__bottom
	{
		display: flex;
		justify-content: space-between;
	}
}


































