.product-card
{
	max-width: 212px;
	margin-right: 20px;
	&:last-child{margin-right: 0;}
	&.in-basket
	{
		.g-button
		{
			&--product-basket{display: none;}
			&--product-inbasket{display: block;}
		}
	}
	&.in-favorites
	{
		.product-card__image
		{
			svg path{fill: #F44336;}
		}
	}
}

.product-card__image
{
	position: relative;
	margin-bottom: 8px;
	svg
	{
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
	}
	img
	{
		width: 100%;
		height: auto;
	}
}
.product-card__statuses
{
	position: absolute;
	top: 3px;
	left: 0;
}
.product-card__status
{
	width: fit-content;
	padding: 0 8px;
	border-radius: 6px;
	font-weight: bold;
	font-size: 12px;
	line-height: 22px;
	color: #FFFFFF;
	&--sale{background: #F44336;}
	&--end{background: #7B8E98;}
	&--new{background: #03A9F4;}
	&--balance{background: #F44336;}
}
.product-card__title
{
	min-height: 36px;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 18px;
	a{color: #263238;}
	a:hover{color: #01A54E;}
}
.product-card__favorit
{
	svg:hover path{fill: #F44336;}
}
.product-card__raits
{
	margin-bottom: 8px;
	.product-card__rait-star
	{

		display: flex;
		align-items: center;
		span
		{
			margin-left: 9px;
			font-size: 12px;
			line-height: 14px;
			color: #7B8E98;
		}
		i
		{
			background-image: url('/svg/popular-goods-rait.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
			display: inline-block;
			height: 16px;
			width: 16px;
		}
	}
	.product-card__rait-notstar
	{
		font-size: 12px;
		line-height: 16px;
		span{color: #7B8E98;}
	}
	&[data-rating="0"] i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="1"] i:nth-child(1) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="2"] i:nth-child(2) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="3"] i:nth-child(3) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="4"] i:nth-child(4) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="5"] i:nth-child(5) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating=".5"] i:nth-child(1) {
		background-image: url('/svg/popular-goods-rait-half.svg');
	}
	&[data-rating=".5"] i:nth-child(1) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="1.5"] i:nth-child(2) {
		background-image: url('/svg/popular-goods-rait-half.svg');
	}
	&[data-rating="1.5"] i:nth-child(2) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="2.5"] i:nth-child(3) {
		background-image: url('/svg/popular-goods-rait-half.svg');
	}
	&[data-rating="2.5"] i:nth-child(3) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="3.5"] i:nth-child(4) {
		background-image: url('/svg/popular-goods-rait-half.svg');
	}
	&[data-rating="3.5"] i:nth-child(4) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}
	&[data-rating="4.5"] i:nth-child(5) {
		background-image: url('/svg/popular-goods-rait-half.svg');
	}
	&[data-rating="4.5"] i:nth-child(5) ~ i
	{
		background-image: url('/svg/popular-goods-rait-empty.svg');
	}

}
.product-card__price
{
	display: flex;
	align-items: center;
	margin-bottom: 12px;
	font-weight: 500;
}
.product-card__price-sale
{
	margin-right: 5px;
	font-size: 14px;
	line-height: 18px;
	color: #F44336;
}
.product-card__price-none
{
	font-size: 10px;
	line-height: 12px;
	color: #7B8E98;
	text-decoration: line-through #263238;
}
.product-card__price-default
{
	font-size: 14px;
	line-height: 18px;
	color: #263238;
}
@media (min-width: 769px)
{
	.product-card__wrapper
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.product-card
	{
		width: 50%;
		max-width: 235px;
		margin-right: 20px;
		&:last-child{margin-right: 0;}
	}
}

































