.checkout
{
	p
	{
		margin: 0;
		margin-bottom: 24px;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #263238;
	}
	.h2-style{margin-bottom: 24px;}
	.text-black
	{
		font-size: 15px;
		line-height: 18px;
		color: #263238;
	}
	.text-gray
	{
		font-size: 14px;
		line-height: 18px;
		color: #7B8E98;
	}
	.g-tabs__item
	{
		display: flex;
		width: 100%;
		min-height: 100px;
		margin-bottom: 16px;
		margin-right: 0;
		padding: 16px 24px;
		border: 1px solid #CFD8DC;
		border-radius: 6px;
		svg{margin-right: 24px;}
		&.active
		{
			border: 2px solid #01A54E;
		}
		&:after{display: none;}
	}
	.g-tabs
	{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 24px;
		p{width: 100%;}
	}
	.g-tabs__link
	{
		display: flex;
		flex-wrap: wrap;
		span:first-child
		{
			flex: 1 1 100%;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #263238;
		}
		span:last-child
		{
			font-size: 14px;
			line-height: 18px;
			color: #7B8E98;
		}
	}
	.g-input
	{
		max-width: 100%;
		width: 100%;
		margin-bottom: 16px;
		&.g-input--promo
		{
			display: flex;
			flex-flow: wrap;
			max-width: 600px;
			flex: 1 1 100%;
			.label-title{width: 100%;}
		}
	}
	.g-input__input{padding: 11px 12px;}
	.g-radio__input:enabled:checked ~ .g-radio__body .g-radio__text{color:#263238}
	.g-radio:not(:last-child){margin-bottom: 12px;}
	.g-radio__box
	{
		width: 16px;
		height: 16px;
		min-width: 16px;
	}
	.g-radio__body{align-items: flex-start;}
	.g-button--green
	{
		width: 100%;
		line-height: 38px;
		border: 1px solid #01A54E;
		cursor: pointer;
		&:disabled
		{
			background-color: #CFD8DC;
			border: 1px solid #CFD8DC;
			border-radius: 6px;
			font-weight: bold;
			font-size: 14px;
			line-height: 38px;
			color: #fff;
		}
	}
	.g-yamap
	{
		&--hidden{display: none;}
	}
	.g-tabs__content-list
	{
		&--hidden{display: none;}
	}
	.g-tabs__content-map
	{
		display: none;
		cursor: pointer;
		&--visibility{display: block;}
	}
	.g-radio__input:enabled ~ .g-radio__body .g-radio__text
	{
		color: #263238;
		.g-radio__text--green{color: #01A54E;}
		.g-radio__text--subtext
		{
			width: 100%;
			font-size: 12px;
			line-height: 14px;
			margin: 0;
			color: #7B8E98;
		}
	}
}
.checkout__privacy-policy
{
	margin-bottom: 24px;
	.g-checkbox__box
	{
		flex: none;
		margin-right: 8px;
	}
	.g-checkbox__text
	{
		max-width: 576px;
		font-size: 14px;
		line-height: 18px;
	}
	.g-checkbox__input:enabled ~ .g-checkbox__body .g-checkbox__text{color: #7B8E98;}
}
.checkout__wr{margin-bottom: 40px;}
.label-title
{
	display: block;
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 14px;
	color: #7B8E98;
}
.checkout__order-item
{
	display: flex;
	flex-flow: wrap;
	margin-bottom: 24px;
	p{width: 100%;}
}
.checkout__order-item-text
{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	.text-black{flex: 1 1 100%;}
	&--flex
	{
		display: flex;
		flex-flow: wrap;
	}
}
.checkout-dlivery-type
{
	display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.checkout__personal
{
	width: 100%;
	p{margin-bottom: 24px;}
}
.g-input__input--promo
{
	max-width: 445px;
	width: 44%;
	flex: 2;
	margin-right: 16px;
}
.g-input__btn
{
	flex: 1;
	width: fit-content;
	padding: 0 18px;
	border: 1px solid #CFD8DC;
	border-radius: 6px;
	font-weight: bold;
	font-size: 14px;
	line-height: 38px;
	color: #263238;
	&:hover
	{
		border: 1px solid #CFD8DC;
		background: #fff;
		color: #01A54E;
		transition: all .3s linear;
	}
}
.checkout__order-list
{
	display: flex;
	flex-flow: wrap;
	justify-content: space-between;
}
.checkout__your-order
{
	flex: 1 1 50%;
	align-self: center;
	height: fit-content;
	width: 100%;
	padding: 16px;
	margin-bottom: 24px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
}
.checkout__your-order-head
{
	display: flex;
	justify-content: space-between;
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ECEFF1;
	p
	{
		margin: 0;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #263238;
	}
	span
	{
		font-size: 16px;
		line-height: 22px;
		color: #00CA5F;
	}
}
.checkout__your-order-list
{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #ECEFF1;
}
.checkout__your-order-item
{
	display: flex;
	justify-content: space-between;
	span
	{
		font-size: 14px;
		line-height: 18px;
		color: #7B8E98;
	}
	.checkout__your-order-item--green
	{
		font-weight: 500;
		color: #01A54E;
	}
	.checkout__your-order-item--red
	{
		font-weight: 500;
		color: #F44336;
	}
}
.checkout__your-order-item:not(:last-child){margin-bottom: 16px;}
.checkout__your-order-sum
{
	display: flex;
	justify-content: space-between;
	span
	{
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		color: #263238;
	}
}
.g-tabs__content{width: 100%;}
.g-tabs__content-head
{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 24px;
	svg
	{
		vertical-align: middle;
		margin-left: 8px;
	}
	p{margin: 0;}
	span{cursor: pointer;}
}
.checkout__radio-btn
{
	display: none;
	flex-flow: column;
	.g-radio__input
	{
		.g-radio__body{flex-wrap: wrap;}
		&:enabled
		{
			// включен
			& ~ .g-radio__body
			{
				display: flex;
				align-items: flex-start;
				cursor: pointer;
				.g-radio__box {border-color: #c2c7cf; }
				.g-radio__text
				{
					color: #7B8E98;
					&--title{margin-bottom: 4px;}
					&--adress
					{
						margin-bottom: 4px;
						font-weight: 500;
						font-size: 16px;
						line-height: 22px;
						color: #263238;
					}
					&--condition{margin-bottom: 12px;}
				}
			}
			// включен, но не выбран
			&:not(:checked)
			{
				& ~ .g-radio__body:hover .g-radio__box {
					border-color: #01A54E;
					&:before
					{
						content:'';
						display: block;
						border-radius: 10px;
						width: 10px;
						height: 10px;
						background: #f0f1f3;
						position: relative;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
					}
				}
			}
			// включен и выбран
			&:checked ~ .g-radio__body .g-radio__box{
				border-color: #01A54E;
				border-width: 2px;
			}
			&:checked
			{
				&~ .g-radio__body .g-radio__box:before
				{
					content:'';
					display: block;
					border-radius: 10px;
					width: 10px;
					height: 10px;
					background: #01A54E;
					position: relative;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}
		}
	}
	.g-radio__flex
	{
		display: flex;
		flex-flow: column;
	}
	.g-button--more
	{
		padding-left: 25px;
		font-weight: 500;
		font-size: 14px;
		line-height: 18px;
	}
	&--visibility{display: flex;}
}

.g-tabs__content-list{cursor: pointer;}

@media (min-width: 768px)
{
	.checkout
	{
		.g-tabs__item:not(:last-child)
		{
			max-width: 292px;
			width: 100%;
			margin-right: 16px;
		}
		.g-input
		{
			max-width: 100%;
			width: 292px;
			&:nth-child(even){margin-right: 15px;}
		}
		.g-button--green
		{
			width: 153px;
			font-weight: bold;
			font-size: 14px;
			line-height: 38px;
		}
		.g-button--gray{width: 153px;}
	}
	.checkout__personal-flex
	{
		label:first-child{margin-right: 16px;}
	}
	.g-tabs__content-flex
	{
		label:first-child{margin-right: 16px;}
	}
}
@media (min-width: 1024px)
{
	.checkout__order-item
	{
		order: -2;
		height: fit-content;
	}
}
@media (min-width: 1150px)
{
	.checkout__your-order
	{
		align-self: flex-start;
		max-width: 340px;
		order: -1;
	}
	.checkout
	{
		.g-tabs{margin-top: -100px;}
	}
}