.checkout
{
	p
	{
		margin: 0;
		margin-bottom: 24px;
		font-weight: bold;
		font-size: 18px;
		line-height: 22px;
		color: #263238;
	}
	.h2-style{margin-bottom: 24px;}
	.text-black
	{
		font-size: 15px;
		line-height: 18px;
		color: #263238;
	}
	.text-gray
	{
		font-size: 14px;
		line-height: 18px;
		color: #7B8E98;
	}
	.g-tabs__item
	{
		display: flex;
		max-width: 292px;
		min-height: 100px;
		margin-bottom: 16px;
		padding: 16px 24px;
		border: 1px solid #CFD8DC;
		border-radius: 6px;
		svg{margin-right: 24px;}
		&.active
		{
			border: 2px solid #01A54E;
		}
		&:after{display: none;}
	}
	.g-tabs
	{
		display: flex;
		flex-wrap: wrap;
	}
	.g-tabs__link
	{
		display: flex;
		flex-wrap: wrap;
		span:first-child
		{
			flex: 1 1 100%;
			font-weight: 500;
			font-size: 16px;
			line-height: 22px;
			color: #263238;
		}
		span:last-child
		{
			font-size: 14px;
			line-height: 18px;
			color: #7B8E98;
		}
	}
	.g-input
	{
		max-width: 292px;
		width: 100%;
		margin-bottom: 16px;
	}
	.g-input__input{padding: 11px 12px;}
	.g-radio__input:enabled:checked ~ .g-radio__body .g-radio__text{color:#263238}
}
.label-title
{
	display: block;
	margin-bottom: 8px;
	font-size: 12px;
	line-height: 14px;
	color: #7B8E98;
}
.checkout__order-item
{
	display: flex;
	margin-bottom: 24px;
}
.checkout__order-item-text
{
	display: flex;
	flex-wrap: wrap;
	.text-black{flex: 1 1 100%;}
}
.checkout__order-choose{margin-bottom: 40px;}