.g-button, input.g-button
{
	display: inline-block;
	font-weight: bold;
	color: #fff;
	background-color: #01A54E;
	cursor: pointer;
	border-radius: 6px;
	border:0px;

	&:hover{background: #00833D;}
	svg{vertical-align: middle;}
}