.g-button, input.g-button
{
	display: inline-block;
	padding: 0 5px 0 14px;
	font-weight: bold;
	font-size: 12px;
	line-height: 32px;
	color: #fff;
	background-color: #01A54E;
	cursor: pointer;
	border-radius: 6px;
	border:0px;

	&:hover{background: #00833D;}
	svg{vertical-align: middle;}
}