.catalog__category-item
{
	margin-bottom: 40px;
	.product-card
	{
		max-width: 136px;
		margin-right: 0;
	}
	.product-card__image
	{
		img{width: 136px;}
	}
	.g-pagination--desktop{display: none;}

}
.catalog__category-item-wr{display: flex;}
.catalog__category-item-left
{
	display: none;
	max-width: 240px;
	margin-right: 20px;
	h2
	{
		margin-bottom: 16px;
		font-weight: bold;
		font-size: 28px;
		line-height: 34px;
	}
	.breadcrumbs__item
	{
		svg{transform: rotate(180deg)}
	}
}
.catalog__category-item-right
{
	max-width: 100%;
	.breadcrumbs__mob
	{
		.breadcrumbs__item
		{
			svg{transform: rotate(180deg)}
		}
	}
}
.catalog__category-item-list
{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 24px;
	overflow: auto;
	overflow-x: hidden;
	.product-card
	{
		flex: 1 1 50%;
		margin-right: 7px;
		margin-bottom: 24px;
	}
}
.g-pagination__arrow
{
	padding: 0;
	padding: 8px;
	svg{margin: 0;}
	span{display: none;}
}
@media (min-width: 1024px)
{
	.catalog__category-item
	{
		margin-bottom: 60px;
		.product-card__image
		{
			img{width: 100%;}
		}
		.g-pagination--mob{display: none;}
		.g-pagination--desktop{display: flex;}
	}
	.catalog__category-item-left{display: block;}
	.catalog__category-item-list
	{
		.product-card
		{
			max-width: 171px;
			flex: 1 1 20%;
			margin-right: 16px;
		}
	}

}