<div class="promo-slider">
	<div class="promo-slider__wrapper _promo-slider__wrapper">
		{% for item in 1..4 %}
		<div class="promo-slider__content">
			<a href="#">
				<picture>
					<source srcset="./img/promo-slider-desktop.png" media="(min-width: 768px)"/>
					<source srcset="./img/promo-slider-tablet.png" media="(min-width: 425px)"/>
					<img src="./img/slider.png" alt="promo-images">
				</picture>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
