.promo-slider{margin-bottom: 24px;}
.promo-slider__wrapper
{
	.slick-dots
	{
		position: absolute;
		display: flex;
		margin-right: 20px;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
		.promo-slider__slider-dot
		{
			height: 6px;
			width: 6px;
			margin-right: 4px;
			background: #FFFFFF;
			border-radius: 50%;
		}
		.slick-active
		{
			.promo-slider__slider-dot
			{
				background: #263238;
			}
		}
	}
}
.promo-slider__content
{
	img
	{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@media (min-width: 768px)
{
	.promo-slider__wrapper{display: none;}
}