.promo-slider{margin-bottom: 24px;}
.promo-slider__wrapper
{
	.slick-dots
	{
		position: absolute;
		display: flex;
		margin-right: 20px;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
		.slick-active
		{
			.promo-slider__slider-dot
			{
				background: #263238;
			}
		}
	}
	.slick-list{border-radius: 6px;}
}
.promo-slider__slider-dot
{
	height: 6px;
	width: 6px;
	margin-right: 4px;
	background: #FFFFFF;
	border-radius: 50%;
}
.promo-slider__arrow-prev
{
	width: 32px;
	height: 32px;
	left: 24px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('./svg/promo-slider-prev.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ECEFF150;
	border: none;
	border-radius: 50%;
}
.promo-slider__arrow-next
{
	width: 32px;
	height: 32px;
	right: 24px;
	top: 50%;
	transform: translateY(-50%);
	background-image: url('./svg/promo-slider-next.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #ECEFF150;
	border: none;
	border-radius: 50%;
}
.promo-slider__content
{
	width: 288px;
	height: 200px;
	padding-left: 16px;
	padding-top: 16px;
	border-radius: 6px;
	overflow: hidden;
	background-image: url("/img/promo-mobile-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	h2
	{
		margin-bottom: 16px;
		font-weight: 900;
		font-size: 24px;
		line-height: 28px;
		color: #FFFFFF;
		span
		{
			display: block;
			font-weight: 900;
			font-size: 24px;
			line-height: 28px;
		}
	}
	span
	{
		display: inline-block;
		margin-bottom: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #FFFFFF;
	}
}
.promos-slider__btn
{
	display: none;
	padding: 0 18px;
	border: 1px solid #CFD8DC;
	border-radius: 6px;
	line-height: 38px;
	color: #FFFFFF;
	transition: all .3s;
	&:hover
	{
		opacity: 0.6;
	}
}
@media (min-width: 425px)
{
	.promo-slider__content
	{
		background-image: url("/img/promo-tablet-1.png");
		background-position: center;
	}
}
@media (min-width: 769px)
{
	.promo-slider{margin-bottom: 40px;}
	.promo-slider__content
	{
		height: 240px;
		padding-left: 100px;
		padding-top: 33px;
		background-image: url("/img/promo-desktop-1.png");
		background-position: right;
		h2
		{
			margin-bottom: 16px;
			font-weight: 900;
			font-size: 34px;
			line-height: 40px;
			color: #FFFFFF;
			span
			{
				display: block;
				font-weight: 900;
				font-size: 24px;
				line-height: 28px;
			}
		}
	}
	.promos-slider__btn{display: block;}
}
@media (min-width: 1023px)
{
	.promo-slider__content
	{
		padding-left: 150px;
		padding-top: 33px;
	}
}



















