<div class="promo-slider">
	<div class="promo-slider__wrapper _promo-slider__wrapper">
		{% for item in 1..4 %}
		<a href="#"class="promo-slider__content">
			<h2>Натуральная <span>косметика</span></h2>
			<span>Скидки до -90%</span>
			<button class="promos-slider__btn">Подробнее</button>
		</a>
		{% endfor %}
	</div>
</div>
