<section class="promo-slider">
	<div class="container">
		<div class="promo-slider__wrapper _promo-slider__wrapper">
			{% for item in 1..4 %}
				<div class="promo-slider__content">
					<picture>
						<a href="#"><img src="./img/slider.png" alt="promo-images"></a>
					</picture>
				</div>
			{% endfor %}
		</div>
	</div>
</section>
