.g-input
{
	display: inline-block;
	position: relative;
	max-width: 430px;
}
.g-input__input
{
	width: 100%;
	font-size: 14px;
	line-height: 16px;
	color: #7B8E98;
	padding: 7px 12px;
	border: 1px solid #CFD8DC;
	border-radius: 6px;
	outline-offset: 0px;
	&:hover { border-color: #191C21; }
	&:focus
	{
		border: 1px solid #191C21;
		outline: 1px solid #191C21;
	}
	&::placeholder{color: #7B8E98;}
}
.g-input.error
{
	.g-input__input
	{
		border: 1px solid #D01246;
		outline: 1px solid #D01246;
	}
	.g-input__sub
	{
		display: block;
		position: absolute;
		margin-top: 2px;
	}
}
.g-input__sub
{
	display: none;
	font-size: rem(10);
	line-height: rem(13);
	font-weight: $regular;
	color: #D01246;
}