<section class="popular-goods">
	<div class="container">
		<h2>Популярные товары</h2>
		<div class="popular-goods__wrapper">
			{% for item in 1..4 %}
			<div class="popular-goods__card">
				<div class="popular-goods__image">
					<div class="popular-goods__statuses">
						<div class="popular-goods__status">Экономия 20%</div>
					</div>
					<a href="#">
						<picture>
							<source srcset="./img/popular-goods-desktop.png" media="(min-width: 769px)">
							<img src="./img/popular-goods.png" alt="product image">
							{% include "../../assets/svg/popular-goods-favorit.svg" %}
						</picture>
					</a>
				</div>
				<div class="popular-goods__title">
					<span>Вимакс Супер Форте капс. №30</span>
				</div>
				<div class="popular-goods__rait">
					{% include "../../assets/svg/popular-goods-rait.svg" %}
					<span>12</span>
				</div>
				<div class="popular-goods__price">
					<span class="popular-goods__price-sale">258.20 ₽</span>
					<span class="popular-goods__price-none">335,66 ₽</span>
					<span class="popular-goods__price-default">335 ₽</span>
				</div>
				<div class="popular-goods__btn">
					<button class="g-button">В корзину</button>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
