<section class="popular-goods">
	<div class="container">
		<h2>Популярные товары</h2>
		<div class="popular-goods__wrapper _popular-goods__wrapper">
			{% for item in 1..4 %}
				{% include 'blocks/product-card/product-card.twig' %}
			{% endfor %}
		</div>
	</div>
</section>
