{% extends "layouts/layout.twig" %}
{% block page %}
	<div class="checkout">
		<div class="container">
			<div class="checkout__wr">
				{% include 'blocks/breadcrumbs/breadcrumbs.twig' with {'items': ['Корзина'], 'addres': 'basket.html'} %}
				<h2 class="h2-style">Оформления заказа</h2>
				<div class="checkout__order-list">
					<p>Состав заказа</p>
					<div class="checkout__order-item">
						<img src="./img/checkout-order-list-1.png" alt="product image">
						<div class="checkout__order-item-text">
							<span class="text-black">Кальцемин адванс таб. п.о № 120</span>
							<span class="text-gray">2 шт.</span>
						</div>
					</div>
					<div class="checkout__order-choose">
						<p>Выбрите способ получения</p>
						<div class="checkout__order-delivery">
							{% include "./assets/svg/checkout-dlivery-1.svg" %}
							<span>Доставка</span>
							<span>В удобное для вас время
							</span>
						</div>
						<div class="checkout__order-pickup">
							{% include "./assets/svg/checkout-pickup-1.svg" %}
							<span>Самовывоз</span>
							<span>Забрать можно будет через 5 минут</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
