{% extends "layouts/layout.twig" %}
{% block page %}
<div class="order-complit">
	<div class="container">
		<div class="order-complit__title">
			<h2>Ваш заказ успешно оформлен!</h2>
			<p>Мы позвоним вам или отправим СМС, чтобы подтвердить заказ.</p>
		</div>
	</div>
</div>
{% endblock %}